*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 200px;
    background-color: #ffff;
  
}
header .img, .title, .carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 33%;
}
header img{
width: 300px;
height: 180px;
}
header h1{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: 'Playpen Sans', cursive, sans-serif;
    color: #E1C928;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.500);
}
.carrinho{
    position: relative;
}
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #E1C928;
    width: 20px;
    border-radius: 50%;
    margin-left: 1.3rem;
    margin-top: -1rem;
}

.navbar{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.200);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #ffff; 
    margin-bottom: 0.5rem;
}
.navbar nav ul li{
    display: inline-block;
    margin: 0.7rem 2rem;
    transition: ease-in-out 0.3s;
 
}
.navbar nav ul li a {
    text-decoration: none;
    color: black;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.200);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar nav ul li:hover{
    transform: translateY(-3px);
}

.container-info{
    width: 100vw;
    margin: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;

}
.info{
    width: 300px;
    height: 280px;
    border: 2px solid #E1C928;
    padding: 1rem;
    border-radius: 5px;
    background-color: #ffffff90;
    transition: all 0.5s;
    cursor: pointer;
 
}
.info:hover{
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.300);
}
.info-text{
    position: relative;
}
.info-text h2{
    text-align: center;
    font-size: 2rem;
    color: #e1c828ae;
    font-weight: bold;
}
.info-text p{
    opacity: 0.8;
    text-indent: 1rem;
    text-align: center;
    margin-top: 2.5rem;
}
.info-text svg{
    position: absolute;
    top: 45px;
    right:110px;
    color: #e1c828;
}

@media (max-width: 768px) {
    #carouselExampleIndicators {
      max-width: 80vw;
    }
  }
  
  @media (max-width: 576px) {
    #carouselExampleIndicators {
      max-width: 90vw;
    }
  }